body {
  background-color: #0F1D30;
}

h1, h2, h3, nav a {
  font-family: 'Exo 2', sans-serif;
}

header.container {
	/*height:230px;*/
  background-color:#4E698C;
  padding: 0px;
  min-width: 960px;
}

header div.fixed {
  background: #4E698C;
}
header div.fixed.affix {
  z-index: 10;
  width: 960px;
}

header .sitetitle {
  color: #fff;
  font-size: 16pt;
  padding-left: 5px;
  font-family: 'Exo 2', sans-serif;
}

/* center navbar */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/* end center navbar */


#nav.affix {
  top: 30px;
  z-index:10;
  max-width: 960px;
  width: 100%;
}

/* tegen het verspingen van de pagina */
/* http://stackoverflow.com/questions/15176990/twitter-bootstrap-affixed-navbar-div-below-jumps-up/15177077#15177077 */
.affix + #content {
  padding-top: 75px;
}
.affix + #bigheaderimage {
  padding-top: 75px;
}

#subnav.affix {
  position: fixed;
  top: 6em;
  width: 100%;
  z-index:10;
}

div.col-sm-3.col-md-2.sidebar {
  margin-left: -20px;
}

#wrap {
  max-width: 960px;
  width: inherit;
}

#content .row {
  margin: 10px;
}

.navbar {
  border-bottom: 1px solid white;
}
nav {
  margin-left: -15px;
  margin-right: -15px;
  
  background: #CC9933; /* #414141;*/
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/
nav ul li{
  position: relative;
  display: inline;
  float: left;
  z-index: 10;
}

/*Top level menu link items style*/
nav ul li a{
  display: block;
  background: #CC9933; /*#414141; background of tabs (default state)*/
  color: #fff;
  padding: 8px 10px;
  border-right: 1px solid #778;
  color: #2d2b2b;
  text-decoration: none;
  font-size: 12pt;
}

nav ul li a:link, nav ul li a:visited{
  color: white;
}

nav ul li a:hover{
  background: #FFCC33; /* black; tab link background during hover state*/
  color: white;
}

.navbar-collapse.collapse.in ul li a {
  border: none;
}

.nav.nav-sidebar {
  margin-top: 1em;
}
.nav.nav-sidebar ul {
  padding-left: 10px;
  list-style-type: disc;
}
#rs_breadcrumbs {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}


.footer
{
  margin-left: -15px;
  margin-right: -15px;
  border-top: none;
}
.footer .container
{
  min-width: 100%;
  border-top: 5px solid #CC9933;
  background-color: #7297BA;
}
.menu-footer-menu-container ul.menu li {
  display: inline;
  float:left;
  margin-right: 25px;
}

.menu-footer-menu-container ul.menu li a {
  font-size: 10pt;
  font-weight: bold;
  color: #273443;
}
.menu-footer-menu-container ul.sub-menu {
  padding-left: 20px;
}
.menu-footer-menu-container ul.sub-menu li {
  display: list-item;
  float: none;
  list-style-type: disc;
}
.menu-footer-menu-container ul.sub-menu li a {
    color: white;
    font-weight: normal;
    font-size: 9pt;
    line-height: 14pt;
    text-decoration: none;
}

h3 a {
  /*color: #0F1D30;*/
}

.textbox {
  background-color: rgb(209, 219, 230); 
  border-radius: 0px 20px 0px 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.textbox a:link {
  color: #23527c;
}
.textbox a:hover {
  background: inherit;
  text-decoration: underline;
}

ul.textbox {
  padding-left: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* tegen het verspingen van de pagina */
  /* http://stackoverflow.com/questions/15176990/twitter-bootstrap-affixed-navbar-div-below-jumps-up/15177077#15177077 */
  .affix + #content {
    padding-top: 31px;
  }
  .affix + #bigheaderimage {
    padding-top: 30px;
  }

}