html
{ 
  min-height: 100%;
  font-size: 11pt;
  font-family: Verdana, Arial, Helvetica;
  line-height:14px;
  position: relative;
}
body {
	/*background-color: #4E698C;*/
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

#content .row {
background-color: #7297BA;
}

header.container {
	height:230px;
  background-color:#4E698C;
  padding: 0px;
}


#nav .container {
	/*margin-bottom: -20px;*/
  /*background-color: #d8d5d5; */
}

/* center navbar */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/* end center navbar */


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}
.affix + .container {
      padding-top: 70px;
  }

#subnav.affix {
  position: fixed;
  top: 5em;
  width: 100%;
  z-index:10;
}

div.col-sm-3.col-md-2.sidebar {
  margin-left: -20px;
}



footer .container {
	border-top: 1px solid #d8d5d5;
}

.footer
{
    border-top: none;
    background-color: #4E698C;
}
.footer .container
{
    border-top: 5px solid #CC9933;
    background-color: #7297BA;
}


