html
{ 
  min-height: 100%;
  font-size: 11pt;
  font-family: Verdana, Arial, Helvetica;
  line-height:14px;
  position: relative;
}
body {
	/*background-color: #4E698C;*/
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

header.container {
	height:230px;
  background-color:#4E698C;
  padding: 0px;
}


/* center navbar */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/* end center navbar */


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}
.affix + .container {
      padding-top: 70px;
  }

#subnav.affix {
  position: fixed;
  top: 5em;
  width: 100%;
  z-index:10;
}

div.col-sm-3.col-md-2.sidebar {
  margin-left: -20px;
}



.footer
{
    border-top: none;
}
.footer .container
{
    border-top: 5px solid #CC9933;
    background-color: #7297BA;
}


nav {
  font: bold 12px Verdana;
  background: #CC9933; /* #414141;*/
  width: 100%;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/
nav ul li{
  position: relative;
  display: inline;
  float: left;
  z-index: 10;
}

/*Top level menu link items style*/
nav ul li a{
  display: block;
  background: #CC9933; /*#414141; background of tabs (default state)*/
  color: #fff;
  padding: 8px 10px;
  border-right: 1px solid #778;
  color: #2d2b2b;
  text-decoration: none;
  font-size: 12pt;
}

nav ul li a:link, nav ul li a:visited{
color: white;
}

nav ul li a:hover{
background: #FFCC33; /* black; tab link background during hover state*/
color: white;
}